﻿@charset "utf-8";
/* CSS Document */

body {margin:0 auto; padding:0; font-size:12px; font-family:\5FAE\8F6F\96C5\9ED1;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p,input{padding:0px; margin:0px; }
ul { list-style:none; }
img { border:0px; }
a {text-decoration:none; }
a {outline: none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
.clearfloat{display:block;clear:both;height:0px;margin:0px;padding:0px;border:0px;}

input[placeholder], [placeholder], *[placeholder] {
   color:#666 !important;
   font-family:\5FAE\8F6F\96C5\9ED1 !important;
   outline:medium;
}

.container{width:100%;margin:0 auto;}

/*top*/
.top{width:100%;min-width:1190px;margin:0 auto;height:58px;background:#000;z-index:3000;}
.top .top_con{width:1190px;margin:0 auto;height:52px;position:relative;}

.top .logo{display:block;width:130px;float:left;margin:-10px -10px 0 0;}

/*nav*/
.top_con .nav{float:left;margin-left:50px;font-family:\5FAE\8F6F\96C5\9ED1;width:654px;}
.top_con .nav ul li{float:left;}
.top_con .nav ul li a{display:block;width:90px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:16px;font-weight:bold;margin-top:5px;}
.top_con .nav ul li a:hover{background:#484c57;}


.top_con .search{float:left;position:relative;margin:14px 0;width:172px;}
.top_con .search input{border:0;}
.top_con .search .search_text{float:left;height:29px;line-height:29px;width:172px;background:#9ACCCB;border-radius:15px;text-indent:2.5em;color:#fff;}
.top_con .search .search_btn{position:absolute;left:11px;top:7px;}

.top_con .dengluqian{float:right;margin:14px 0;width:132px;}
.top_con .dengluqian .zc_btn{text-indent:0;height:30px;width:62px;font-size:16px;border:0;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;border-radius:5px;cursor:pointer;}
.top_con .dengluqian .zc{color:#fff;background:#369998;}
.top_con .dengluqian .dl{color:#000;background:#e5e5e5;}

.top_con .dengluhou{float:right;margin-top:15px;width:180px;height:50px;position:absolute;right:0;}
.top_con .dengluhou .name{float:right;color:#fff;font-size:14px;}
.top_con .dengluhou .name span{float:left;margin-top:5px;overflow:hidden;white-space:nowrap;color:#fff;}
.top_con .dengluhou .name img{float:left;width:28px;height:28px;margin-right:2px;border-radius:50%;}

.top_con .dengluhou .list{background:url(../images/indexhou_img1.png) no-repeat #fff;position:absolute;z-index:1000;width:270px;top:35px;right:0px;}
.top_con .dengluhou .list img{float:left;height:70px;width:70px;margin:20px 10px;border-radius:50%;border:solid 3px #369998;}
.top_con .dengluhou .list p{float:right;color:#999;font-size:12px;border-bottom:solid 1px #eaeaea;width:150px;height:32px;line-height:32px;margin:0 5px;}
.top_con .dengluhou .list p a{color:#666;}

/*tanchu*/
.tanchu{position:relative;}
.tanchu .close{float:right;margin:10px;cursor:pointer;height:20px;width:20px;line-height:20px;text-align:center;background:#fff;border:solid 1px #369998;
border-radius:50%;
transition:transform 1s;
-moz-transition: -moz-transform 1s; 
-webkit-transition: -webkit-transform 1s; 
-o-transition: -o-transform 1s;}
.tanchu .close:hover{background:#369998;transform:rotate(360deg);
-moz-transform:rotate(360deg); 
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg); }

.tanchu .close img{margin-top:4px;margin-left:0px;height:13px;width:13px;}
.zhuce{position:fixed;top:100px;left:50%;margin-left:-380px;display:none;background:#fff;box-shadow:0px 0px 2px 2px #ccc;z-index:10000;}
.zhuce_left{float:left;padding:0px 50px;margin:30px 0;border-right:dotted 1px #666666;}
.zhuce_left p{color:#666666;font-size:14px;margin:10px 0;}
.zhuce_left p .english{font-size:12px;}
.zhuce_left p .xian{margin:0 10px;}
.zhuce_left p .xing{color:#d52324;font-size:16px;font-weight:bold;position:relative;top:5px;margin:0 10px;}
.zhuce_left input{border:solid 1px #dcdcdc;text-indent:1em;border-radius:5px;width:300px;height:40px;line-height:40px;font-size:14px;box-shadow:0px 0px 2px 1px #ccc;}
.zhuce_left .phone{background:url(../images/zc_img_03.png) no-repeat;background-position:275px center;}
.zhuce_left .pwd{background:url(../images/zc_img_11.png) no-repeat;background-position:275px center;}
.zhuce_left .cfm_pwd{background:url(../images/zc_img_11.png) no-repeat;background-position:275px center;}
.zhuce_left .nk_name{background:url(../images/zc_img_20.png) no-repeat;background-position:275px center;}
.zhuce_left .yanzhengma{display:inline-block;border:solid 1px #dcdcdc;border-radius:5px;width:300px;height:40px;line-height:40px;font-size:14px;box-shadow:0px 0px 2px 1px #ccc;}
.zhuce_left .yanzheng{border:0;box-shadow:none;width:210px;height:38px;}
.zhuce_left .yzm{float:right;width:85px;height:36px;line-height:36px;text-align:center;margin:2px;background:#eeeeee;border-radius:5px;color:#369897;cursor:pointer;}
.zhuce_left input.zc_btn{background:#369897;color:#fff;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;border:0;box-shadow:none;border-radius:3px;width:100px;margin:10px 0;text-indent:0;cursor:pointer;}

.zhuce_right{float:right;padding:50px 90px;}
.zhuce_right .dl_ttl{display:block;font-size:16px;color:#666666;}
.zhuce_right .dl_btn{border:0;width:172px;height:45px;color:#369897;background:url(../images/zc_img_06.png);font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;margin:10px 0 50px 0; cursor:pointer;}
.zhuce_right a{display:block;margin-top:10px;}

.denglu{position:fixed;top:200px;left:50%;margin-left:-337px;display:none;background:#fff;box-shadow:0px 0px 2px 2px #ccc;z-index:10000;}
.zhuce_left .rmb_me{width:15px;height:15px;border:0;box-shadow:none;position:relative;top:3px;margin-right:5px;}
.zhuce_left .jizhu_me{color:#666;font-size:14px;}
.zhuce_left .wjmm{font-size:12px;font-family:宋体;color:#369897;float:right;margin:5px 50px 0 0;}
.zhuce_left .wjmm:hover{text-decoration:underline;}
.zhuce_left .no_zh{font-size:15px;font-weight:bold;margin-left:20px;}
.zhuce_left .now_zc{text-decoration:underline;color:#d20001;font-size:15px;}

.zhmm_one{position:fixed;top:200px;left:50%;margin-left:-200px;display:none;background:#fff;box-shadow:0px 0px 2px 2px #ccc;z-index:10000;}
.zhmm_one .tit{border-bottom:dotted 1px #666666;display:block;cursor:move;}
.zhmm_one .tit .tit_tit{float:left;font-size:16px;color:#369897;margin:15px;margin-bottom:7px;}
.zhmm_one .tit i{float:right;line-height:33px;cursor:pointer;font-style:normal;margin:15px;margin-bottom:7px;}
.zhmm_left{float:left;padding:0px 50px;margin:15px 0;border-right:0;}
.zhmm_left p{color:#666666;font-size:14px;margin:10px 0;}
.zhmm_left input{border:solid 1px #dcdcdc;border-radius:5px;text-indent:1em;width:300px;height:40px;line-height:40px;font-size:14px;box-shadow:0px 0px 2px 1px #ccc;}
.zhmm_left .phone{background:url(../images/zc_img_03.png) no-repeat;background-position:275px center;}
.zhmm_left .in_yzm{width:130px;}
.zhmm_left input.tj_btn{width:70px;height:30px;line-height:30px;border:0;box-shadow:none;background:#369897;color:#fff;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;cursor:pointer;text-indent:0;}
.zhmm_left .yz_img{margin:0 15px;position:relative;top:10px;}
.zhmm_left .no_look{font-size:12px;font-family:宋体;color:#266794;}


.tanchu_one{position:fixed;top:50%;margin-top:-120px;left:50%;margin-left:-162px;width:325px;height:240px;background:#fff;border:dashed 2px #369897;text-align:center; display:inline-block; z-index:333;}
.tanchu_one h3{color:#369897;font-size:16px;float:left;border-bottom:dotted 1px #369897;width:325px;height:35px;line-height:35px;}
.tanchu_one img{float:right;margin:8px; cursor:pointer;}
.tanchu_one .xiangxi p{float:left;width:210px;text-align:left;font-size:12px;color:#333;margin:8px 0;}
.tanchu_one #pricess1{font-size:16px;font-weight:bold;color:#ff6600;margin:15px 0;}
.tanchu_one .pricess{font-size:16px;font-weight:bold;color:#ff6600;margin:15px 0;}
.tanchu_one a{display:inline-block;width:86px;height:28px;text-align:center;line-height:28px;color:#fff;font-size:14px;background:#369897;border-radius:3px;}


.success_title{float:left;padding:30px 50px 0 50px;margin:15px 0;}
.success_title .four_img{float:left;}
.success_title .four_tit{float:left;font-size:18px;color:#369897;margin:15px;margin-bottom:7px;}
.success_left{padding:0px 50px;margin:15px 0;}
.success_left p{color:#666666;font-size:14px;margin:10px 0;text-align:center;}
.success_left p span{color:#ff6600;margin:0 3px;}
.success_left input{border:solid 1px #dcdcdc;border-radius:5px;width:300px;height:40px;line-height:40px;font-size:14px;box-shadow:0px 0px 2px 1px #ccc;}
.success_left .now_dl{width:90px;height:30px;line-height:30px;border:0;box-shadow:none;background:#369897;color:#fff;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;margin:30px 0 10px 0;}

#maskLayer {background: #000;opacity: 0.5;filter:alpha(opacity=50);top: 0;left: 0;position: fixed; z-index:100;display:none;width:100%;height:100%;}

.fenye{margin:20px 0 10px 0;text-align:center;color:#666;}
.fenye a{display:inline-block;padding:2px 8px;margin:0 10px;font-size:14px;color:#787d82;}
.fenye a:hover{background:#369998;color:#fff;}
.fenye a.avtive{background:#369998;color:#fff;}
